@charset "UTF-8";
/*Colores*/
/*fuente*/
/* hover estándar de botón */
.bloque-nota,
.bloque-nota-fondo {
  background: #212121;
  border: 1px solid #e0c86f;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  color: #ffffff;
}

.bloque-nota h3,
.bloque-nota-fondo h3 {
  color: #b39700;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0c86f;
  padding-bottom: 10px;
}

.bloque-nota .ej,
.bloque-nota-fondo .ej {
  margin-top: 25px;
  font-style: italic;
  color: #b39700;
}

.boton-referencia {
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: 0.3s ease;
}

/*BOTONES*/
.boton {
  display: flex;
  gap: 1rem;
}

.boton-volver {
  text-align: center;
  margin: 1.25rem 0;
}

.btn {
  background-color: #b39700;
  color: #3a3a3a;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.boton-volver a {
  color: #b39700;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: inline-block;
}
.boton-volver a:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.siguiente-pagina {
  text-align: center;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
}

.siguiente-pagina a {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  color: #ffffff;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  transition: all 0.3s ease;
  box-shadow: none;
}
.siguiente-pagina a:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

/* Botones pag 4 */
.boton-referencia {
  border-radius: 0.4rem;
  transition: 0.3s ease;
  justify-content: center;
  flex-wrap: wrap;
}
.boton-referencia:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

/*PAGINA 4  CAMBIO DE ESTILO*/
.notas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.6rem;
  width: 100%;
  max-width: 500px;
  margin-left: 1rem;
}

.notas img {
  width: 90px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.texto-principal {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.descripcion {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 900px;
  margin: 1rem auto 2rem auto;
  text-transform: uppercase;
}

/*Tipos de Notas*/
.explicacion-notas {
  width: 90%;
  max-width: 1100px;
  margin: 4rem auto;
}

.explicacion-intro {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 1rem auto 3rem;
}

/* cada tarjeta */
.bloques-notas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 40px;
}

.bloques-notas p {
  color: #ffffff;
}

.bloque-nota,
.bloque-nota-fondo {
  transform: 1.03;
  transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.bloque-nota-fondo {
  grid-column: span 2;
}

/*FAMILIAS OLFATIVAS */
.familias-wrap {
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
  text-align: center;
}

.familias-wrap p {
  font-size: 1.15rem;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  max-width: 90%;
  margin: 0 auto;
}

/* CONTENEDOR BASE */
.familia-card-wrap {
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid #b39700;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

/* Imagen */
.familias-img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 1rem auto;
}

/*COLORES PERSONALIZADOS SEGÚN FAMILIA*/
/* Floral*/
.floral-bg {
  background: rgba(255, 100, 140, 0.18);
}

/* Amaderada */
.amaderada-bg {
  background: rgba(110, 70, 30, 0.18);
}

/* Oriental */
.oriental-bg {
  background: rgba(120, 0, 40, 0.22);
}

/* Cítrica */
.citrica-bg {
  background: rgba(255, 190, 80, 0.22);
}

/* Aromática */
.aromatica-bg {
  background: rgba(0, 120, 70, 0.35);
}

/* Gourmand */
.gourmand-bg {
  background: rgba(130, 70, 0, 0.22);
}

/* CARD BASE */
.familia {
  border-radius: 10px;
  padding: 1.3rem;
  color: #ffffff;
  border: 1px solid #b39700;
  transition: 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.familia:hover {
  transform: scale(1.05);
  color: #ffffff;
}

/*COLORES INDIVIDUALES*/
/*Floral*/
.familia.floral {
  background: rgba(255, 100, 140, 0.18);
}

/*Amaderada*/
.familia.amaderada {
  background: rgba(110, 70, 30, 0.18);
}

/*Oriental*/
.familia.oriental {
  background: rgba(120, 0, 40, 0.22);
}

/*Cítrica*/
.familia.citrica {
  background: rgba(255, 190, 80, 0.22);
}

/*Aromática*/
.familia.aromatica {
  background: rgba(0, 120, 70, 0.35);
}

/*Gourmand*/
.familia.gourmand {
  background: rgba(130, 70, 0, 0.22);
}

/* TITULITOS */
.familia h3 {
  color: #b39700;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  letter-spacing: 1px;
}

/*NOTAS VERSÁTILES VS EXTREMAS */
.versus-notas {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  text-align: center;
}

.texto-versus {
  color: #ffffff;
  max-width: 750px;
  margin: 0.8rem auto 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.versus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.nota-card {
  border-width: 2px;
  padding: 1.5rem;
  background: #3a3a3a;
  border: 1px solid #b39700;
  border-radius: 10px;
  transform: 1.05;
}
.nota-card:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.nota-card h3 {
  color: #b39700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0.3rem;
}

.nota-card p {
  color: #ffffff;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.nota-card .ej {
  color: #e0c86f;
  font-style: italic;
  font-size: 0.95rem;
}

.nota-card .uso {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/*Notas Naturales y sinteticas*/
.origen-notas {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  text-align: center;
}

.intro-origen {
  color: #ffffff;
  max-width: 750px;
  margin: 0.8rem auto 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.origen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.origen-card {
  border: 2px solid #b39700;
  background: #3a3a3a;
  border-radius: 10px;
  padding: 1.5rem;
  transition: 0.3s;
}
.origen-card:hover {
  transform: scale(1.05);
  color: #ffffff;
}

.origen-card h3 {
  color: #b39700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0.3rem;
}

.origen-card p {
  color: #ffffff;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.origen-card .ej {
  color: #e0c86f;
  font-style: italic;
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
}

.origen-card .ventaja {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #e0c86f;
  font-weight: 600;
}

/*1024px o menos*/
@media (max-width: 1024px) {
  header nav ul {
    gap: 1.5rem;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .familias-grid,
  .versus-grid,
  .origen-grid,
  .bloques-notas {
    grid-template-columns: repeat(2, 1fr);
  }
  .notas {
    grid-template-columns: repeat(3, 1fr);
  }
  .titulo {
    font-size: 2.2rem;
  }
}
/*768px o menos (tablet )*/
@media (max-width: 768px) {
  header .logo-1 img {
    width: 12rem;
  }
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  .titulo {
    font-size: 2rem;
    text-align: center;
  }
  .descripcion,
  p,
  .texto-versus,
  .intro-origen {
    font-size: 0.95rem;
    text-align: center;
  }
  .notas {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  .familias-grid,
  .versus-grid,
  .origen-grid,
  .bloques-notas {
    grid-template-columns: 1fr;
  }
  .familia,
  .nota-card,
  .origen-card,
  .bloque-nota {
    padding: 1.2rem;
  }
  .siguiente-pagina a {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
  .bloque-nota-fondo {
    grid-column: auto;
  }
  h2,
  .subtitulo {
    text-align: center;
  }
}
/* responsive 480px celulares */
@media (max-width: 480px) {
  header {
    padding: 1.2rem 0;
  }
  header .logo-1 img {
    width: 9.5rem;
  }
  .titulo {
    font-size: 1.6rem;
    line-height: 1.3;
  }
  .notas {
    grid-template-columns: repeat(2, 1fr);
  }
  .notas img {
    width: 100%;
    height: auto;
  }
  .botones-notas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .btn,
  .boton-referencia {
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
  }
  .familia,
  .nota-card,
  .origen-card {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.9rem;
    padding: 1.5rem;
  }
  footer a {
    display: block;
    margin: 0.5rem 0;
  }
}
/*footer*/
footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
  margin-top: 2.5rem;
  padding: 1.25rem;
  border-top: 0.0625rem solid #e6e6e6;
}

/* Mis redes */
.mis-redes {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #e6e6e6;
}

.mis-redes h4 {
  color: #b39700;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.9375rem;
}

.mis-redes a {
  display: inline-block;
  margin: 0 0.625rem;
  color: #b39700;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
.mis-redes a:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #b39700;
  text-align: center;
  margin: 3rem auto 2.5rem;
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--dorado-claro);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

/*Título */
.titulo {
  color: #b39700;
  text-align: center;
  margin: 2.5rem 0 1.25rem 0;
  font-size: 3rem;
  text-shadow: 0.0625rem 0.0625rem 0.375rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/* ====== FLECHAS DEL CARRUSEL (Bootstrap) ====== */
/* Icono anterior */
.carousel-control-prev-icon {
  filter: invert(67%) sepia(63%) saturate(700%) hue-rotate(10deg) brightness(95%) contrast(90%);
}

/* Icono siguiente */
.carousel-control-next-icon {
  filter: invert(67%) sepia(63%) saturate(700%) hue-rotate(10deg) brightness(95%) contrast(90%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2.5rem;
  height: 2.5rem;
}

body {
  padding: 0;
  background-color: #3a3a3a;
  color: #2c2c2c;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 95vh;
}

/*Nav*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

nav ul li a {
  color: #b39700;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  transform: scale(1.05);
  color: #ffffff;
}

h2 span {
  background: linear-gradient(90deg, #b39700, #e0c86f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-shadow: 0 0.0625rem 0.375rem rgba(179, 151, 0, 0.4);
  transition: all 0.3s ease;
}
h2 span:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

/* CONTENEDORES / COLUMNAS*/
.container {
  display: grid;
  width: 85%;
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* IMÁGENES*/
img {
  display: block;
  margin: 1.875rem auto;
  max-width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #4f4f4f;
  transform: 1.05;
}
img:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
