@use "./archivos/variables";
@use "./archivos/buttons";
@use "./pages/notas";
@use "./archivos/media_queries";
@use "./archivos/footer";
@use "./archivos/mixins";

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
.subtitulo{
  font-family:variables.$font-base;
  font-size: 2.2rem;             
  font-weight: 700;
  text-transform: uppercase;
  color: variables.$dorado;
  text-align: center;
  margin: 3rem auto 2.5rem;      
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--dorado-claro);
  text-shadow: 0 0 6px rgba(0,0,0,.7);}


  /*Título */
.titulo {
  color: variables.$dorado;
  text-align: center;
  margin: 2.5rem 0 1.25rem 0;
  font-size: 3rem;
  text-shadow: 0.0625rem 0.0625rem 0.375rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;}


  /* ====== FLECHAS DEL CARRUSEL (Bootstrap) ====== */

/* Icono anterior */
.carousel-control-prev-icon {
  filter: invert(67%) sepia(63%) saturate(700%) hue-rotate(10deg) brightness(95%) contrast(90%);
}

/* Icono siguiente */
.carousel-control-next-icon {
  filter: invert(67%) sepia(63%) saturate(700%) hue-rotate(10deg) brightness(95%) contrast(90%);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2.5rem;
  height: 2.5rem
}


body {
  padding: 0;
  background-color: variables.$gris-fondo;
  color: variables.$gris-texto;
  font-family: variables.$font-base;
  font-size: 1rem;
  line-height: 1.6;
  height: 95vh;
}




/*Nav*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

nav ul li a {
  color: variables.$dorado;
  font-family:variables.$font-base;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  @include mixins.hover-scale;
}


h2 span {
  background: linear-gradient(90deg, variables.$dorado, variables.$dorado-claro);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-shadow: 0 0.0625rem 0.375rem rgba(179, 151, 0, 0.4);
  transition: all 0.3s ease;
  @include mixins.btn-hover

}







/* CONTENEDORES / COLUMNAS*/
.container {
  display: grid;
  width: 85%;
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: variables.$blanco;
  padding: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* IMÁGENES*/
img {
  display: block;
  margin: 1.875rem auto;
  max-width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #4f4f4f;
  @include mixins.img
}













 