@use "../archivos/variables";
@use "../archivos/mixins";
@use "../archivos/extends";

/*PAGINA 4  CAMBIO DE ESTILO*/
.notas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .6rem;
  width: 100%;
  max-width: 500px; 
   margin-left: 1rem;
}


.notas img {
   width: 90px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  transition: .3s;

}

.texto-principal {
    max-width: 900px;  
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

   


.descripcion {
    color: variables.$blanco;
    font-family:  variables.$font-base;
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 900px;
    margin: 1rem auto 2rem auto; 
    text-transform: uppercase;
}



/*Tipos de Notas*/

.explicacion-notas {
  width: 90%;
  max-width: 1100px;
  margin: 4rem auto;
}




.explicacion-intro {
  text-align: center;
  color: variables.$blanco;
  font-family: variables.$font-base;
  font-size: 1.15rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 1rem auto 3rem;
}



/* cada tarjeta */
.bloques-notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 40px;
}


.bloques-notas p{
  color: variables.$blanco;
}




.bloque-nota,
.bloque-nota-fondo {
    @extend %card-base;
    @include mixins.bloque-nota;
}


.bloque-nota h3,
.bloque-nota-fondo h3 {
   @extend %bloque-h3;
}


.bloque-nota .ej,
.bloque-nota-fondo .ej {
    @extend %bloque-ej;
}


.bloque-nota-fondo {
    grid-column: span 2;
}





/*FAMILIAS OLFATIVAS */
.familias-wrap {
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
  text-align: center;
}
.familias-wrap p{
font-size: 1.15rem;
  line-height: 1.6;                  
  text-align: center;       
  color: variables.$blanco;
  max-width: 90%;
  margin: 0 auto;;}




/* CONTENEDOR BASE */
.familia-card-wrap {
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid variables.$dorado;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: variables.$blanco;
  
}

/* Imagen */
.familias-img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 1rem auto;
}

/*COLORES PERSONALIZADOS SEGÚN FAMILIA*/

/* Floral*/
.floral-bg { background: variables.$rosado-floral; }

/* Amaderada */
.amaderada-bg { background: variables.$marron-madera; }

/* Oriental */
.oriental-bg { background: variables.$bordo-oriental; }

/* Cítrica */
.citrica-bg { background:  variables.$amarillo-citrico; }

/* Aromática */
.aromatica-bg { background: variables.$verde-aromatico; }

/* Gourmand */
.gourmand-bg { background: variables.$color-chocolate;; }






/* CARD BASE */
.familia {
  border-radius: 10px;
  padding: 1.3rem;
  color: variables.$blanco;
  border: 1px solid variables.$dorado;
  transition: .3s ease;
  text-align: center;
  text-transform: uppercase;
  font-family:  variables.$font-base;
  @include mixins.hover-scale;
}



/*COLORES INDIVIDUALES*/

/*Floral*/
.familia.floral {
  background:variables.$rosado-floral
}


/*Amaderada*/
.familia.amaderada {
  background: variables.$marron-madera
}


/*Oriental*/
.familia.oriental {
  background: variables.$bordo-oriental
}

/*Cítrica*/
.familia.citrica {
  background: variables.$amarillo-citrico
}


/*Aromática*/
.familia.aromatica {
  background: variables.$verde-aromatico
}


/*Gourmand*/
.familia.gourmand {
  background: variables.$color-chocolate;
}


/* TITULITOS */
.familia h3 {
  color: variables.$dorado;
  font-size: 1.2rem;
  margin-bottom: .7rem;
  letter-spacing: 1px;
}

/*NOTAS VERSÁTILES VS EXTREMAS */

.versus-notas {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  text-align: center;
}


.texto-versus {
  color: variables.$blanco;
  max-width: 750px;
  margin: 0.8rem auto 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.versus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.nota-card {
  border-width: 2px;
  padding: 1.5rem;
   @include mixins.card-base;
   @include mixins.img;
}




.nota-card h3 {
  color: variables.$dorado;
  font-family:  variables.$font-base;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid variables.$gris-borde;
  padding-bottom: 0.3rem;
}

.nota-card p {
  color: variables.$blanco;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.nota-card .ej {
  color: variables.$dorado-claro;
  font-style: italic;
  font-size: 0.95rem;
}

.nota-card .uso {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}


/*Notas Naturales y sinteticas*/

.origen-notas {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  text-align: center;
}

.intro-origen {
  color: variables.$blanco;
  max-width: 750px;
  margin: 0.8rem auto 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.origen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.origen-card {
  border: 2px solid variables.$dorado;
  background: variables.$gris-fondo;
  border-radius: 10px;
  padding: 1.5rem;
  transition: 0.3s;
  @include mixins.hover-scale;
}



.origen-card h3 {
  color: variables.$dorado;
  font-family:  variables.$font-base;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid variables.$gris-borde;
  padding-bottom: 0.3rem;
}

.origen-card p {
  color: variables.$blanco;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.origen-card .ej {
  color: variables.$dorado-claro;
  font-style: italic;
  font-size: 0.95rem;
  margin-bottom: .8rem;
}

.origen-card .ventaja {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: variables.$dorado-claro;
  font-weight: 600;
  
}