@use "./variables";

/*BOTONES*/
.boton-volver {
  text-align: center;       
  margin: 1.25rem 0; 
}

.boton-volver a {
  color: variables.$dorado;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background-color: transparent;  
  border: none;                   
  box-shadow: none;              
  display: inline-block;
}

.boton-volver a:hover {
  transform: scale(1.05);                    
  box-shadow: 0 0.25rem 0.625rem rgba(255, 255, 255, 0.25);  
  border: 0.125rem solid variables.$blanco;
  
}  

.siguiente-pagina {
 text-align: center;
  display: flex;
  width:fit-content;   
  margin: 0 auto;        
  background-color: transparent;
  flex-direction: column;
  align-items: center;
} 

.siguiente-pagina a {
  display: inline-block;
  width: fit-content;    
  margin: 0 auto;       
  color: variables.$blanco; 
  background-color: transparent; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  transition: all 0.3s ease;
  box-shadow: none; 
}



.siguiente-pagina a:hover {
   color: variables.$blanco;
  background-color: variables.$dorado;
  box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}