@use "./variables";
@use "./mixins";

/*BOTONES*/

.boton{
  display: flex;
  gap: 1rem;
}

.boton-volver {
  text-align: center;       
  margin: 1.25rem 0; 
}


.btn {
  background-color: variables.$dorado;
  color: variables.$gris-fondo;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: .3s ease;
  @include mixins.transition;
  @include mixins.btn-hover;
}




.boton-volver a {
  color: variables.$dorado;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background-color: transparent;  
  border: none;                   
  box-shadow: none;              
  display: inline-block;
  @include mixins.btn-hover;
}



.siguiente-pagina {
 text-align: center;
  display: flex;
  width:fit-content;   
  margin: 0 auto;        
  background-color: transparent;
  flex-direction: column;
  align-items: center;
} 

.siguiente-pagina a {
  display: inline-block;
  width: fit-content;    
  margin: 0 auto;       
  color: variables.$blanco; 
  background-color: transparent; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  transition: all 0.3s ease;
  box-shadow: none; 
  @include mixins.btn-hover;
}




/* Botones pag 4 */
.boton-referencia {
  border: 2px solid variables.$dorado;
  color: variables.$dorado;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: .3s ease;
  justify-content: center;
  flex-wrap: wrap;
  @include mixins.btn-hover;

}
