@use "./variables";

%card-base{
     background: #212121;
  border: 1px solid variables.$dorado-claro;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  color: variables.$blanco;
}

%bloque-h3{
     color: variables.$dorado;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid variables.$dorado-claro;
    padding-bottom: 10px;
}

%bloque-ej{
     margin-top: 25px;
    font-style: italic;
    color: variables.$dorado;
}

%btn-base {
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: 0.3s ease;
}
