/*1024px o menos*/
@media (max-width: 1024px) {

  header nav ul {
    gap: 1.5rem;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .familias-grid,
  .versus-grid,
  .origen-grid,
  .bloques-notas {
    grid-template-columns: repeat(2, 1fr);
  }

  .notas {
    grid-template-columns: repeat(3, 1fr);
  }

  .titulo {
    font-size: 2.2rem;
  }
}

/*768px o menos (tablet )*/
@media (max-width: 768px) {

  header .logo-1 img {
    width: 12rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .titulo {
    font-size: 2rem;
    text-align: center;
  }

  .descripcion,
  p,
  .texto-versus,
  .intro-origen {
    font-size: 0.95rem;
    text-align: center;
  }

  .notas {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  .familias-grid,
  .versus-grid,
  .origen-grid,
  .bloques-notas {
    grid-template-columns: 1fr;
  }

  .familia,
  .nota-card,
  .origen-card,
  .bloque-nota {
    padding: 1.2rem;
  }

  .siguiente-pagina a {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
   .bloque-nota-fondo {
        grid-column: auto; 
    }

  h2,
  .subtitulo {
    text-align: center;
  }
}

/* responsive 480px celulares */
@media (max-width: 480px) {

  header {
    padding: 1.2rem 0;
  }

  header .logo-1 img {
    width: 9.5rem;
  }

  .titulo {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .notas {
    grid-template-columns: repeat(2, 1fr);
  }

  .notas img {
    width: 100%;
    height: auto;
  }

  .botones-notas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn,
  .boton-referencia {
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
  }

  .familia,
  .nota-card,
  .origen-card {
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 1.5rem;
  }

  footer a {
    display: block;
    margin: 0.5rem 0;
  }
}
