@use "variables";


@mixin transition($time: 0.3s) {
  transition: all $time ease;
}

@mixin hover-scale($scale: 1.05) {
  &:hover {
    transform: scale($scale);
    color: variables.$blanco;
  }
}

@mixin img($scale: 1.05){
  transform: $scale;
  &:hover {
    transform: scale($scale);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  }
}





@mixin card-base {
  background: variables.$gris-fondo;
  border: 1px solid variables.$dorado;
  border-radius: 10px;
}

/* hover estándar de botón */
@mixin btn-hover($scale: 1.05) {
  &:hover {
    transform: scale($scale);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    color: variables.$blanco;
  }
}


