
  $gris-fondo: #3a3a3a;
  $gris-claro: #4a4a4a;
   $dorado:#b39700;
  $dorado-claro: #e0c86f;
   $blanco: #ffffff;
   $gris-texto: #2c2c2c;
   $gris-borde: #e6e6e6;
   $gris-redes: #777;
  $rosado-floral:rgba(255, 100, 140, .18);
   $marron-madera:rgba(110, 70, 30, .18);
  $bordo-oriental:rgba(120, 0, 40, .22);
   $amarillo-citrico:rgba(255, 190, 80, .22);
   $verde-aromatico: rgba(0, 120, 70, .35);
   $color-chocolate: rgba(130, 70, 0, .22);

   
